certifi==2022.5.18.1
charset-normalizer==2.0.12
cloudpickle==2.1.0
cycler==0.11.0
fonttools==4.33.3
gym==0.24.0
gym-notices==0.0.6
idna==3.3
kiwisolver==1.4.2
lxml==4.9.0
matplotlib==3.5.2
numpy==1.22.4
packaging==21.3
pandas==1.4.2
pandas-datareader==0.10.0
Pillow==9.1.1
pybullet==3.2.5
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
scipy==1.8.1
six==1.16.0
torch==1.11.0+cu115
typing_extensions==4.2.0
urllib3==1.26.9
